<table>
<tr>
<th>Nome:</th>
<th>Idade:</th>
</tr>
<% pessoas.each do |pessoa| %>
<tr>
<td style="text-align: center;border-style: solid; border: 1px solid black; border-radius: 2px;"><%= pessoa[:nome] %></td>
<td style="text-align: center;border-style: solid; border: 1px solid black; border-radius: 2px;"><%= pessoa[:idade] %> anos</td>
</tr>
<% end %>
</table>


<style>
table {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
th {
  border-radius: 2px;
  border-style: inset;
  border: 1px solid black;
  border-collapse: collapse;
}
</style>