<p><h1>Cidades de Santa Catarina </h1></p>
<%= render  '/city/lista_cidades',:city => @santa_catarina %>

<style>
h1 {
  border-bottom: 2px solid black;;
  table-layout: fixed;
  width: 360px;
}
</style>