<h1>Novo estado</h1>

<%= render 'form' %>

<b style="border-style: groove; border-radius: 4px"><%= link_to 'Voltar', estados_path %></b>

<style>
h1 {
  border-bottom: 2px solid black;
  table-layout: fixed;
  width: 175px;
}
</style>