<h1>Editar Bairro</h1>

<%= render 'form' %>

<table>
<b style="border-style: outset"><%= link_to 'Visualizar', @bairro %></b> |||
<b style="border-style: outset"><%= link_to 'Voltar', bairros_path %></b>
</table>

<style>
h1 {
  border-bottom: 2px solid black;;
  table-layout: fixed;
  width: 170px;
}
table {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
</style>